.disk {
  margin-top: 20px;

  &__btns {
    display: flex;
  }

  &__create {
    margin-left: 10px;
  }
  .upload-input {
    display: none;
  }
  &__upload-label {
    border: 2px solid grey;
    cursor: pointer;
    padding: 5px 10px;
  }
}

.drag-area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  border: dashed black 2px ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
