.disk {
  margin-top: 20px;

  &__btns {
    display: flex;
  }

  &__create {
    margin-left: 10px;
  }
  .upload-input {
    display: none;
  }
  &__upload-label {
    border: 2px solid grey;
    cursor: pointer;
    padding: 5px 10px;
  }
  

}
